.MainStyle {
  width: 100%;
  padding: 1rem;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.MainHome {
  width: 100%;
  padding: 1rem;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 750px) {
  .MainStyle,
  .MainHome {
    margin-top: 8rem;
  }
}

@media (min-width: 750px) {
  .MainStyle,
  .MainHome {
    min-height: 45vh;
  }
}
@media (min-width: 1200px) {
  .MainStyle {
    padding: 2rem 1rem;
    margin-top: 19rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: start;
  }

  .MainHome {
    padding: 2rem 1rem;
    margin-top: 19rem;
  }
}

@media print {
  .MainStyle {
    padding: 2rem 1rem;
    margin: 0;
  }

  .MainHome {
    padding: 1rem;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
